*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
}
.container{
    margin: 70px auto 0 auto;
    width: 300px;
    background-color: white;
    height: 400px;
    padding: 25px;
}

form>input,label{
    display: block;
}

form>input{
    margin-bottom: 20px;
    padding: 8px;
}

#submit{
    border:none;
    border-radius: 50px;
    background-color: rgb(59, 59, 189);
    color: white;
    padding: 13px;
    font-size:  16px;
}