* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 16px;
    text-align: center;
}

.container {
    width: 700px;
    margin: 0 auto 0 auto;
    border-radius: 7px;
    background-color: white;
    background-color: rgb(240, 240, 240);
}

.subcontainer {
    width: 85%;
    margin: 20px auto 0 auto;
    color: rgb(107, 107, 107);
    padding: 20px;
}

.fullname,.countryname,.selectors,.contact,.about {
    display: flex;
    justify-content: space-between;
}

.fullname>input,.countryname>input,.contact>input,.about>input {
    padding: 12px;
    width: 260px;
    border: 1px solid rgb(146, 146, 146);
    font-size: 16px;
    margin-top: 30px;
}

.textinput {
    display: flex;
    flex-direction: column;
}

.textinput>input {
    padding: 12px;
    border: 1px solid rgb(146, 146, 146);
    font-size: 16px;
    margin-top: 30px;
}

.selectors>select {
    padding: 12px;
    width: 287px;
    border: 1px solid rgb(146, 146, 146);
    font-size: 16px;
    margin-top: 30px;
}

.radiobtn,.radio{
    margin-top: 30px;
    display: flex;
}
.radiobtn>input,.radio>input{
    margin-left: 10px;
    margin-right: 5px;
    width: 15px;
    height: 20px;
}

.check {
    margin: 30px 0 30px 0;
    display: flex;
}

#check {
    width: 18px;
    height: 25px;
    margin-right: 10px;
}

#submitbtn{
    text-align: start !important;
}

#submit {
    width: 150px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    background-color: rgb(55, 52, 231);
    color: white;
}